@import url('https://meyerweb.com/eric/tools/css/reset/reset200802.css');
:root {
	--gray10: rgba(255, 255, 255, 1);
	--gray20: rgba(252, 252, 252, 1);
	--gray30: rgba(241, 241, 241, 1);
	--gray40: rgba(223, 223, 223, 1);
	--gray50: rgba(197, 197, 197, 1);
	--gray60: rgba(163, 163, 163, 1);
	--gray70: rgba(124, 124, 124, 1);
	--gray80: rgba(80, 80, 80, 1);
	--gray90: rgba(37, 37, 37, 1);
	--gray100: rgba(0, 0, 0, 1);
	--gradient: linear-gradient(53deg, #4c6dd0 2.85%, #04befe 151.96%);
	--gradient_re: linear-gradient(46deg, #04befe -23.14%, #4c6dd0 91.64%);
	--primary_10: rgba(198, 211, 252, 1);
	--primary_20: rgba(151, 174, 243, 1);
	--primary_30: rgba(110, 139, 229, 1);
	--primary_40: rgba(76, 109, 208, 1);
	--primary_50: rgba(51, 84, 183, 1);
	--primary_60: rgba(35, 67, 161, 1);
	--primary_70: rgba(25, 55, 145, 1);
	--primary_80: rgba(20, 49, 136, 1);
	--primary_90: rgba(17, 46, 133, 1);
	--secondary_10: rgba(253, 245, 241, 1);
	--secondary_20: rgba(249, 237, 232, 1);
	--secondary_30: rgba(242, 226, 218, 1);
	--secondary_40: rgba(233, 209, 198, 1);
	--secondary_50: rgba(221, 189, 174, 1);
	--secondary_60: rgba(205, 164, 146, 1);
	--secondary_70: rgba(184, 138, 116, 1);
	--secondary_80: rgba(160, 111, 88, 1);
	--secondary_90: rgba(135, 87, 65, 1);
	--col: 8.8rem;
	--g: 1.4rem;
	--gu: calc(var(--g) * 2);
	--row: 2.8rem;
	--unit: calc(var(--col) + var(--gu));
	--layout: calc(var(--unit) * 12 - var(--gu));
}
html {
	font-size: 62.5%; /* 16*62.5/100 = 10px */
}
body {
	font-family: Pretendard, sans-serif;
	line-height: 1.75;
	color: var(--gray90);
}

a {
	color: var(--gray80);
	text-decoration: none;
	font-size: 1.6rem;
}
.button,
button {
	font-size: 1.6rem;
	font-weight: 600;
	letter-spacing: -0.3px;
}
.helper {
	font-size: 1rem;
	font-weight: 400;
}
.comment {
	font-size: 1.3rem;
	font-weight: 400;
	text-transform: capitalize;
}
body,
a,
.contents {
	font-size: 1.6rem;
	font-weight: 400;
	letter-spacing: -0.5px;
}
.h4-500 {
	font-size: 2rem;
	font-weight: 500;
	line-height: 1.25;
}
h4,
.h4 {
	font-size: 2rem;
	font-weight: 400;
	line-height: 1.25;
}
.h3-500 {
	font-size: 2.5rem;
	font-weight: 500;
	line-height: 1.25;
}
h3,
.h3 {
	font-size: 2.5rem;
	font-weight: 200;
	letter-spacing: -0.3px;
	line-height: 1.25;
}
.h2-500 {
	font-size: 3.1rem;
	font-weight: 500;
	line-height: 1.25;
}
h2,
.h2 {
	font-size: 3.2rem;
	font-weight: 600;
	letter-spacing: -0.5px;
	line-height: 1.25;
}
h1,
.h1 {
	font-size: 4.8rem;
	font-weight: 300;
	letter-spacing: -0.2px;
	line-height: 1.25;
}

.df {
	display: flex;
}
.pr {
	position: relative;
}
.pa {
	position: absolute;
}

/* 대체 텍스트가 아니 접근성을 위한 숨김 텍스트를 제공할 때 */
.ir_so {
	overflow: hidden;
	position: absolute;
	width: 0;
	height: 0;
	line-height: 0;
	text-indent: -9999px;
}
